h2 Contact

section
	header
		h3.hidden Contact
	
	.contact-links
		each category, title in categories
			each link, title in category
				a.contact-link(href=link.url, title=title, target=link.url.startsWith('http') ? '_blank' : undefined)
					span.fa.fa-fw(class='fa-' + link.icon)