section
	header
		h3 Contact
	
	ul.contact-links
		each link, title in links
			li
				span(class="glyphicon glyphicon-" + link.icon)
				a(class=title.replace('-', '').toLowerCase(), href=link.url, target=link.url.startsWith('http') ? '_blank' : undefined)= title