h2 Contact

each category, title in categories
	section
		h3= title
		ul.contact-links
			each link, title in category
				li
					i.fa.fa-fw(class='fa-' + link.icon)
					a(href=link.url, target=link.url.startsWith('http') ? '_blank' : undefined)= title