@require "styles/config.styl"

.education-row
	opacity 0.6
	will-change opacity, background-color
	transition all 150ms ease

	&:hover
		opacity 0.9
		background-color rgba(255, 255, 255, 0.03)

		.label-text
			opacity 1

.education-label
	width 50%
	color rgb(255, 212, 60)

.education-year
	//

.education-institution
	line-height 1.5em
	font-size 1.4em
	text-align left

.education-country
	opacity 0.5

.education-location-link
	color inherit

.degree
	//

.degree-status
	//

.label-text
	opacity 1
	transition opacity 150ms ease
	&:after
		content ':'

.label-icon
	display none

@media print
	.education-label
		color black

	.label-text
		opacity 1