include ../mixins.pug

section
	h3.skills-category
		a.ajax(href='/skills/others') Others
	
	ul.skills-list
		li
			| Performance Optimization
			+level(10)
		li(title="Promises, Futures, etc.")
			| Asynchronous Programming
			+level(10)
		li
			| Multi-Threading
			+level(10)
		li
			| Functional Programming Principles
			+level(9)
		li
			| Regular Expressions
			+level(8)
		li
			| Software Transactional Memory
			+level(7)