include ../mixins.jade

section
	h3.skills-category
		a.ajax(href='/skills/others') Others
	
	ul.skills-list
		li
			| Performance Optimization
			+level(10)
		li(title="Promises, Futures, etc.")
			| Asynchronous Program Flow
			+level(10)
		li
			| Threading
			+level(10)
		li(title='...or "How to find the best answers on Stack Overflow"')
			| Google-fu
			+level(10)
		li
			| Regular Expressions
			+level(8)
		li
			| Software Transactional Memory
			+level(7)