include ../mixins.jade

section
	header
		h3.skills-category
			a.ajax(href='/skills/others') Others
	
	ul.skills-list
		li(title='The Art of Searching')
			| Google-fu
			+level(10)
		li
			| Multithreading
			+level(10)
		li
			| Promises
			+level(10)
		li
			| Regular Expressions
			+level(8)
		li(title='Software Transactional Memory')
			| STM
			+level(7)