section
	header
		h3 Now
	
	p
		| I'm currently living in Kyoto, a lovely city in Japan.
		| The temples and shrines of Kyoto are truly inspiring and visiting them makes me feel at peace.
		| I really love this city.
		
	p
		| It's been 1 year now since I started studying Japanese and the language barrier is getting smaller every day.
		| No problems approaching locals and having a talk in Japanese anymore.
		| Once I'm finished studying I plan on finding a full-time job which will allow me to stay here on a work visa.
	
	p
		| Because of the little free time I have I went from 4 active software projects down to 0.
		| Yes, I canceled all of my personal projects to find the time to focus on things outside the IT world.
		| Just recently I picked up a single project again (Aero, a node.js web framework) and I might actually finish it this or next year.
	
	p
		| Today I had the chance to talk with 
		a(href='https://twitter.com/PaulBShepherd', target='_blank') Paul Shepherd
		|  about some future web projects,
		| therefore it's unlikely that I'm going to accept other requests for freelance work.
		| I don't mind getting in touch with new people though, feel free to message me anytime!
	
	p
		| Lastly, this page was created because of a nice idea from a 
		a(href='https://twitter.com/sivers/status/656624765180874752', target='blank') tweet
		|  by 
		a(href='https://sivers.org/', target='blank') Derek Sivers
		| . I really enjoy reading his articles, you should definitely take your time to check them out.
		
	p
		em(style='float: right') Last updated on October 24, 2015