section
	header
		h3 Now
	
	p
		| I'm currently very busy developing 
		a.ajax(href="/projects/aero") Aero
		| , a node.js web framework optimized for performance.
	
	p
		| I'll also work on some web projects with 
		a(href='https://twitter.com/PaulBShepherd', target='_blank') Paul Shepherd
		| , therefore it's unlikely that I'm going to accept other requests for freelance work.
		| I don't mind getting in touch with new people though, feel free to message me anytime!
	
	p
		em(style='float: right') Last updated on November 8, 2015