section
	header
		h3 Now
	
	p This is what I'm currently busy with:
	ul
		li
			a.ajax(href="/projects/aero") Aero
			| , a high performance node.js web framework.
		li Improving my Japanese whenever I find some free time (read: never).
		li
			| Looking for a job (would love to work at 
			a(href='http://www.google.com/about/careers/lifeatgoogle/', target='_blank') Google
			| , 
			a(href='http://www.jp.square-enix.com/recruit/', target='_blank') Square Enix
			|  or 
			a(href='http://www.nintendo.co.jp/corporate/', target='_blank') Nintendo
			| )
	p
		em(style='float: right') Last updated on December 23, 2015