@require "styles/config.styl"

.employment-row
	opacity 0.6
	will-change opacity, background-color
	transition all 150ms ease

	&:hover
		opacity 0.9
		background-color rgba(255, 255, 255, 0.03)

		.label-text
			opacity 1

.employment-label
	width 50%
	color rgb(255, 212, 60)

.employment-year
	//

.company-name
	line-height 1.5em
	font-size 1.4em
	text-align left

.company-url
	color inherit

.employment-location-link
	color inherit

.employment-country
	opacity 0.5

.label-text
	opacity 1
	transition opacity 150ms ease
	&:after
		content ':'

.glyphicon
	display none

@media print
	.employment-label
		color black

	.label-text
		opacity 1