style(scoped)!= page.css

header
	h2 Projects

section.project
	header
		h3 Anime Release Notifier
	p
		| Fetches your anime "watching" list and notifies you when a new episode is available.
		| Supports anime lists from:
	ul
		li
			a(href='http://anilist.co', target='_blank') anilist.co
		li
			a(href='http://anime-planet.com', target='_blank') anime-planet.com
		li
			a(href='http://hummingbird.me', target='_blank') hummingbird.me
		li
			a(href='http://myanimelist.net', target='_blank') myanimelist.net
	p.links
		a(href='https://animereleasenotifier.com/', target='_blank') Website
		a(href='https://github.com/blitzprog/anime-release-notifier-chrome', target='_blank') GitHub

section.project
	header
		h3 Battle of Mages
	p
		| A MOBA (multiplayer online battle arena) game featuring short, PvP-only fights with customized character builds.
		| You can make groups of 5 people and use the matchmaking to find some worthy enemies for you.
		| Before the match you can select which character you'd like to play. Every character has different skill builds.
		| WASD for movement, 1-5 for skills and mouse for targeting (similar to Bloodline Champions).
	p.links
		a(href='http://battleofmages.com/', target='_blank') Website
		a(href='https://github.com/blitzprog/battle-of-mages', target='_blank') GitHub

section.project
	header
		h3 Flua
	p
		| A 4th generation programming language that abstracts existing programming languages
		| and solves common parallelization problems.
		| Sadly, this project is currently "frozen".
		| One day I'd love to continue working on it, probably a complete rewrite with another common data format and in another programming language.
	p.links
		a(href='http://flua-lang.org', target='_blank') Website
		a(href='https://github.com/blitzprog/flua', target='_blank') GitHub