.project
	position relative

.tags
	float right
	opacity 0.15
	position absolute
	right 0
	bottom 0
	margin 1.5em
	transition all 500ms ease;
	
.tags:hover
	opacity 1
	color rgb(112, 174, 255)
	letter-spacing 2px

.title
	width auto
	
.links
	list-style-type none
	margin 0
	
.links li
	display inline-block

.links li:after
	content "|"
	margin 0 0.25em
	color rgba(255, 255, 255, 0.5)

.links li:last-child:after
	content ""
	
@media only screen and (max-width: 640px)
	.tags
		display none