header.full-page
	h2 Projects

section
	h3 Aero

	a.project-link.ajax(href='/projects/aero')
		img.project-image(src='/images/projects/aero.png', alt='The fastest web framework on the node platform.', title='The fastest web framework on the node platform.')

section
	h3 Battle of Mages

	a.project-link.ajax(href='/projects/battleofmages')
		img.project-image.no-shadow(src='/images/projects/bom-classes.png', alt='A multiplayer arena PvP game.', title='A multiplayer arena PvP game.')

//-
	script
		include jsapi.js
		include chart.js

//-
	section.project
		header
			h3.title Anime Release Notifier
			.tags Entertainment
		p
			| Fetches your anime "watching" list and notifies you when a new episode is available.
			| Supports anime lists from:
		ul
			li
				a(href='http://anilist.co', target='_blank') anilist.co
			li
				a(href='http://anime-planet.com', target='_blank') anime-planet.com
			li
				a(href='http://hummingbird.me', target='_blank') hummingbird.me
			li
				a(href='http://myanimelist.net', target='_blank') myanimelist.net
		ul.links
			li
				a(href='https://animereleasenotifier.com/', target='_blank') Website
			li
				a(href='https://github.com/freezingwind/animereleasenotifier.com', target='_blank') GitHub

	section.project
		header
			h3.title Battle of Mages
			.tags Game
		p
			| A MOBA (multiplayer online battle arena) game featuring short, PvP-only fights with customized character builds.
			| You can make groups of 5 people and use the matchmaking to find some worthy enemies for you.
			| Before the match you can select which character you'd like to play. Every character has different skill builds.
			| WASD for movement, 1-5 for skills and mouse for targeting (similar to Bloodline Champions).
		ul.links
			li
				a(href='http://battleofmages.com/', target='_blank') Website
			li
				a(href='https://soundcloud.com/eduard-urbach/sets/battle-of-mages', target='_blank') SoundCloud
			li
				a(href='https://github.com/freezingwind/battle-of-mages', target='_blank') GitHub

	section.project
		header
			h3.title Flua
			.tags Programming Language
		p
			| A 4th generation programming language that abstracts existing programming languages
			| and solves common parallelization problems.
			| I started working on Flua on March 19, 2008. Sadly, this project is currently "frozen".
			| One day I'd love to continue working on it, probably a complete rewrite with another common data format and in another programming language.
		ul.links
			li
				a(href='http://flua-lang.org', target='_blank') Website
			li
				a(href='https://github.com/blitzprog/flua', target='_blank') GitHub