include ../mixins.jade

section
	h3.skills-category
		a.ajax(href='/skills/sports') Sports
	
	ul.skills-list
		li
			| Kendo
			+level(9)
		li
			| Basketball
			+level(9)
		li
			| Table tennis
			+level(8)