article.project
	h2 Lyphia
	.tags 2D RPG
	
	p This was a very old 2D RPG project of mine which I started in 2008 and stopped in 2011.
	
	img(src='/images/projects/lyphia.png', alt='')
	img(src='/images/projects/lyphia-editor.png', alt='')
	img(src='/images/projects/lyphia-hurricane.png', alt='')
	
	ul.links
		li
			a(href='https://github.com/blitzprog/lyphia', target='_blank') GitHub