section
	header
		h3 Coding
	ul.skills-list
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') C/C++
			meter(max='10', value='10')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') C#
			meter(max='10', value='10')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') JavaScript
			meter(max='10', value='10')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Python
			meter(max='10', value='10')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') PHP
			meter(max='10', value='10')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Java
			meter(max='10', value='9')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') ColdFusion
			meter(max='10', value='6')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Haskell
			meter(max='10', value='4')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Ruby
			meter(max='10', value='2')
				
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') TypeScript
			meter(max='10', value='2')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Scala
			meter(max='10', value='1')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Go
			meter(max='10', value='1')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Clojure
			meter(max='10', value='1')
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') CoffeeScript
			meter(value='1', max='10')