section
	header
		h3 Databases
	ul.skills-list
		li.aerospike
			| Aerospike
			meter(value='10', max='10')
		li.riak
			| Riak
			meter(value='10', max='10')
		li.sql
			| SQL
			meter(value='10', max='10')