section
	header
		h3 Formats
	ul.skills-list
		li(title='JavaScript Object Notation')
			| JSON
			meter(value='10', max='10')
		li(title='Extensible Markup Language')
			| XML
			meter(value='10', max='10')
		li
			| Jade
			meter(value='10', max='10')
		li
			| Stylus
			meter(value='10', max='10')