section
	header
		h3 Games
	ul.skills-list
		li.unity3d
			| Unity
			meter(value='10', max='10')
		li.blitz-max
			| BlitzMax
			meter(value='10', max='10')
		li.blitz3d
			| Blitz3D
			meter(value='10', max='10')
		li
			| OpenGL
			meter(value='8', max='10')
		li
			| DirectX
			meter(value='5', max='10')
		li
			| Ogre3D
			meter(value='4', max='10')
		li
			| Irrlicht
			meter(value='2', max='10')