section
	header
		h3 Others
	ul.skills-list
		li(title='The Art of Searching')
			| Google-fu
			meter(value='10', max='10')
		li
			| Multithreading
			meter(value='10', max='10')
		li(title='Software Transactional Memory')
			| STM
			meter(value='7', max='10')