section
	header
		h3 Others
	ul.skills-list
		li(title='The Art of Searching')
			| Google-fu
			+level(10)
		li
			| Multithreading
			+level(10)
		li
			| Promises
			+level(10)
		li(title='Software Transactional Memory')
			| STM
			+level(7)