style(scoped)!= page.css

header
	h2 Skills

section
	header
		h3 Languages
	ul.skills-list.no-list-image
		li.gb(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') English
			meter(max='10', value='10')
		li.de(itemscope='', itemtype='http://schema.org/Language', title='Deutsch')
			span(itemprop='name') German
			meter(max='10', value='10')
		li.ru(itemscope='', itemtype='http://schema.org/Language', title='Русский')
			span(itemprop='name') Russian
			meter(max='10', value='10')
		li.jp(itemscope='', itemtype='http://schema.org/Language', title='日本語')
			span(itemprop='name') Japanese
			meter(max='10', value='6')
		li.fr(itemscope='', itemtype='http://schema.org/Language', title='Français')
			span(itemprop='name') French
			meter(max='10', value='4')

section
	header
		h3 Coding
	ul.skills-list
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') C/C++
			meter(max='10', value='10')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') C#
			meter(max='10', value='10')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Python
			meter(max='10', value='10')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') PHP
			meter(max='10', value='10')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') JavaScript
			meter(max='10', value='10')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Java
			meter(max='10', value='8')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') ColdFusion
			meter(max='10', value='6')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Haskell
			meter(max='10', value='4')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Ruby
			meter(max='10', value='2')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Scala
			meter(max='10', value='1')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Go
			meter(max='10', value='1')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Clojure
			meter(max='10', value='1')
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') CoffeeScript
			meter(value='1', max='10')

section
	header
		h3 Games
	ul.skills-list
		li.unity3d
			| Unity
			meter(value='10', max='10')
		li.blitz-max
			| BlitzMax
			meter(value='10', max='10')
		li.blitz3d
			| Blitz3D
			meter(value='10', max='10')
		li
			| OpenGL
			meter(value='8', max='10')
		li
			| DirectX
			meter(value='5', max='10')
		li
			| Ogre3D
			meter(value='4', max='10')
		li
			| Irrlicht
			meter(value='2', max='10')

section
	header
		h3 Web
	ul.skills-list
		li(title='HyperText Markup Language')
			| HTML 5
			meter(value='10', max='10')
		li(title='Cascading Style Sheets')
			| CSS 3
			meter(value='10', max='10')
		li(title='Asynchronous JavaScript and XML')
			| AJAX
			meter(value='10', max='10')
		li(title='Representational State Transfer')
			| REST
			meter(value='10', max='10')
		li(title='Search Engine Optimization')
			| SEO
			meter(value='10', max='10')
		li
			| Jade
			meter(value='10', max='10')
		li
			| Stylus
			meter(value='10', max='10')
		li
			| Express
			meter(value='8', max='10')

section
	header
		h3 Server
	ul.skills-list
		li
			| Nginx
			meter(value='10', max='10')
		li
			| Apache
			meter(value='9', max='10')
		li
			| Node.js
			meter(value='6', max='10')

section
	header
		h3 Databases
	ul.skills-list
		li.aerospike
			| Aerospike
			meter(value='10', max='10')
		li.riak
			| Riak
			meter(value='10', max='10')
		li.sql
			| SQL
			meter(value='10', max='10')

section
	header
		h3 Mobile
	ul.skills-list
		li.android
			| Android
			meter(value='8', max='10')
		li.iphone
			| iOS
			meter(value='0', max='10')

section
	header
		h3 OS
	ul.skills-list
		li.windows
			| Windows
			meter(value='10', max='10')
		li.linux
			| Linux
			meter(value='10', max='10')
		li.mac
			| Mac
			meter(value='1', max='10')

section
	header
		h3 Versioning
	ul.skills-list
		li
			| Git
			meter(value='10', max='10')
		li
			| Subversion
			meter(value='10', max='10')
		li
			| Perforce
			meter(value='6', max='10')

section
	header
		h3 Formats
	ul.skills-list
		li(title='JavaScript Object Notation')
			| JSON
			meter(value='10', max='10')
		li(title='Extensible Markup Language')
			| XML
			meter(value='10', max='10')

section
	header
		h3 Editors
	ul.skills-list
		li
			| Atom
			meter(value='10', max='10')
		li(title='The Art of Searching')
			| Sublime Text
			meter(value='10', max='10')

section
	header
		h3 Others
	ul.skills-list
		li(title='The Art of Searching')
			| Google-fu
			meter(value='10', max='10')
		li
			| Multithreading
			meter(value='10', max='10')
		li(title='Software Transactional Memory')
			| STM
			meter(value='7', max='10')