header
	h2 Skills

include languages.jade
include coding.jade
include gamedev.jade
include web.jade
include server.jade
include databases.jade
include mobile.jade
include os.jade
include vcs.jade
include formats.jade
include editors.jade
include others.jade