header.full-page
	h2 Skills

//
	a(onclick='collapse()') - Collapse
	a(onclick='expand()') + Expand

include languages/languages.jade
include coding/coding.jade
include gamedev/gamedev.jade
include web/web.jade
include server/server.jade
include databases/databases.jade
include mobile/mobile.jade
include os/os.jade
include 3d/3d.jade
include audio/audio.jade
include vcs/vcs.jade
//include formats/formats.jade
include editors/editors.jade
//include sports/sports.jade
include others/others.jade