header
	h2 Skills

mixin level(mastery)
	if mastery > 7
		.level.level-3 ★★★
	else if mastery > 4
		.level.level-2 ★★☆
	else if mastery > 0
		.level.level-1 ★☆☆
	else
		.level.level-0 ☆☆☆

include languages.jade
include coding.jade
include gamedev.jade
include web.jade
include server.jade
include databases.jade
include mobile.jade
include os.jade
include vcs.jade
//include formats.jade
include editors.jade
include others.jade