section
	header
		h3 Web
	ul.skills-list
		li(title='HyperText Markup Language')
			| HTML 5
			meter(value='10', max='10')
		li(title='Cascading Style Sheets')
			| CSS 3
			meter(value='10', max='10')
		li(title='Asynchronous JavaScript and XML')
			| AJAX
			meter(value='10', max='10')
		li(title='Representational State Transfer')
			| REST
			meter(value='10', max='10')
		li(title='Search Engine Optimization')
			| SEO
			meter(value='10', max='10')
		li
			| Express
			meter(value='9', max='10')