include ../mixins.jade

section
	h3.skills-category
		a.ajax(href='/skills/gamedev') Gamedev
	
	ul.skills-list
		li.unity3d
			| Unity
			+level(10)
		li.blitzmax
			| BlitzMax
			+level(10)
		li.blitz3d
			| Blitz3D
			+level(10)
		li
			| OpenGL
			+level(8)
		li
			| DirectX
			+level(5)
		li.ogre3d
			| Ogre3D
			+level(4)
		li
			| Irrlicht
			+level(2)
		li.unrealengine
			| Unreal Engine
			+level(0)