include ../mixins.jade

section
	header
		h3.skills-category Formats
	ul.skills-list
		li(title='JavaScript Object Notation')
			| JSON
			+level(10)
		li(title='Extensible Markup Language')
			| XML
			+level(10)
		li
			| Jade
			+level(10)
		li
			| Stylus
			+level(10)