article.project
	h2 Anime Notifier
	.tags Web Service
	
	p Fetches your anime "watching" list and notifies you when a new anime episode is available. It also displays the time until a new episode is released.
	
	img(src='/images/projects/anime-notifier.png', alt='')
	
	p Supports anime lists from:
	
	ul
		li anilist.co
		li anime-planet.com
		li myanimelist.net
		li hummingbird.me
	
	ul.links
		li
			a(href='https://notify.moe', target='_blank') Website
		li
			a(href='https://github.com/animenotifier/notify.moe', target='_blank') GitHub
			#aero-stars.stars