include ../mixins.jade

section
	header
		h3.skills-category
			a.ajax(href='/skills/coding') Coding
	ul.skills-list
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') C#
			+level(10)
		
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') C/C++
			+level(10)
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name', title='ECMAScript a.k.a. JavaScript') JS
			+level(10)
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Python
			+level(10)
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') PHP
			+level(10)
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Java
			+level(9)
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') ColdFusion
			+level(6)
			
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') Haskell
			+level(4)
		
		//-
			li(itemscope='', itemtype='http://schema.org/Language')
				span(itemprop='name') Rust
				+level(3)
				
			li(itemscope='', itemtype='http://schema.org/Language')
				span(itemprop='name') Ruby
				+level(2)
					
			li(itemscope='', itemtype='http://schema.org/Language')
				span(itemprop='name') TypeScript
				+level(2)
				
			li(itemscope='', itemtype='http://schema.org/Language')
				span(itemprop='name') Scala
				+level(1)
				
			li(itemscope='', itemtype='http://schema.org/Language')
				span(itemprop='name') Go
				+level(1)
				
			li(itemscope='', itemtype='http://schema.org/Language')
				span(itemprop='name') Clojure
				+level(1)
				
			li(itemscope='', itemtype='http://schema.org/Language')
				span(itemprop='name') CoffeeScript
				+level(1)