doctype html
html(lang='en')
	head
		title= app.config.title
		meta(name='apple-mobile-web-app-capable', content='yes')
	
	body
		#navigation-container
			nav#navigation
				each link, url in nav
					a.navigation-item.ajax(href=`/${url}`)
						i.navigation-item-icon.fa(class='fa-' + link.icon)
						span.navigation-item-title= link.title
		
		#content-container
			#content.fade!= content
		
		#loading-animation.sk-cube-grid.fade
			.sk-cube.sk-cube1
			.sk-cube.sk-cube2
			.sk-cube.sk-cube3
			.sk-cube.sk-cube4
			.sk-cube.sk-cube5
			.sk-cube.sk-cube6
			.sk-cube.sk-cube7
			.sk-cube.sk-cube8
			.sk-cube.sk-cube9