.website
	//

.website-title
	font-size 1.3rem

.website-date
	float left
	width 100%
	text-align center
	opacity 0.5
	transition opacity 200ms ease

.website-image
	width 100%
	border-radius 3px

.website-link
	opacity 1
	transform rotateZ(0)

	&:hover
		opacity 1.0
		transform rotateZ(-1deg) scale(1.01)

	&:after
		width 0 !important

@media only screen and (max-width: 480px)
	.website-date
		display none