// blurFilter(strength)
// 	-webkit-filter blur(strength)
// 	-moz-filter blur(strength)
// 	-o-filter blur(strength)
// 	-ms-filter blur(strength)
// 	filter blur(strength)

.website
	margin 3rem 0

.websites
	list-style-type none
	padding 0
	margin 0

.website-title
	float left
	width 100%
	text-align center

.website-date
	float left
	width 100%
	text-align center
	opacity 0.5
	transition opacity 200ms ease

.website-image
	width 100%
	border-radius 3px

.website-link
	opacity 1
	transform rotateZ(0)

	&:hover
		opacity 1.0
		transform rotateZ(-1deg) scale(1.01)

	&:after
		width 0 !important

.website-url
	font-size 1.2rem

@media only screen and (max-width: 480px)
	.website-date
		display none