include ../mixins.jade

section
	header
		h3.skills-category
			a.ajax(href='/skills/os') OS
	ul.skills-list
		li.windows
			| Windows
			+level(10)
		li.linux
			| Linux
			+level(10)
		li.mac
			| Mac
			+level(1)