header
	h2 Hiring me

section		
	h3 Quality
	
	p You can expect me to only deliver the highest quality of work. I take 
		strong software quality
		|  and 
		strong maintainability
		|  very seriously. I achieve 
		strong high performance
		|  code by only doing what needs to be done. The best code is no code.
		
	h3 Communication
	
	p Slack, Glip, Skype, Hangouts, appear.in, you name it. I'll use whatever  you prefer. Good communication is important to prevent misunderstandings.
	
	p
		| I don't want to leave you in the dark about my progress.
		| Therefore I'll give you a link to your project progress on PivotalTracker which lets you 
		strong track which tasks I'm working on
		|  at any time.
		
	h3 Pricing
	
	p The hourly wage depends on the size of your company:
	
	ul.costs
		li.company
			.size Small
			.price 25 $ / hour
			.employees (1 - 20 employees)
			
		li.company
			.size Medium
			.price 50 $ / hour
			.employees (20 - 50 employees)
			
		li.company
			.size Large
			.price 75 $ / hour
			.employees (more than 50 employees)
	
	p
		| Depending on the complexity of the task the final cost will be either increased or reduced.
		| A static website is an example for a very simple task while a multiplayer online game with a database backend is a very complex task.
		
	h3 Interested?
	
	p
		a(href="/web").ajax Contact me
		|  via any of the listed services. Expect a reply within the next 24 hours.