.costs
	float left
	width 100%
	margin 0
	list-style-type none

.company
	float left
	padding 1em
	width "calc(100% - %s)" % (@padding * 2)
	border-radius 5px
	transition all 750ms ease
	
.company:hover
	background-color rgba(255, 255, 255, 0.05)

.size
	float left
	width 50%
	font-size 1.7em
	line-height 1.7em
	font-weight bold
	
.employees
	float left
	width 100%
	opacity 0.7
	
.price
	width 50%
	float right
	line-height 1.7em
	text-align center