.profile
	width 100%
	color rgb(224, 224, 224)
	font-size 1.9em
	text-align center
	letter-spacing 3px
	margin-top 23%

	a:hover
		&:after
			width 0 !important

.profile-image
	filter saturate(0%) contrast(170%)
	border-radius 100%
	margin 0 auto
	display block
	width 300px
	height 300px
	transition all 600ms ease
	&:hover
		box-shadow 0 0 50px rgba(255, 255, 255, 0.4) !important

.name
	display block
	margin-top 1.6em
	font-weight bold
	text-shadow 0px 0px 6px rgba(0, 0, 0, 0.5)

.job-title
	display block
	margin-top 1em
	font-size 0.5em
	opacity 0.8
	text-shadow 0px 0px 8px rgba(255, 255, 255, 0.5)

@media only screen and (max-height: 800px)
	.profile
		margin-top 13%

@media only screen and (max-height: 700px)
	.profile
		margin-top 6%

@media only screen and (max-height: 600px)
	.profile
		margin-top 0%

	.name
		margin-top 1em