include ../mixins.jade

section
	header
		h3.skills-category
			a.ajax(href='/skills/server') Server
	
	ul.skills-list
		li.nodejs
			| Node.js
			+level(10)
		li
			| Nginx
			+level(10)
		li
			| Apache
			+level(7)
		li
			| H2O
			+level(6)