include ../mixins.jade

section
	h3.skills-category
		a.ajax(href='/skills/web') Web
	
	ul.skills-list
		li.html5(title='HyperText Markup Language')
			| HTML 5
			+level(10)
		li.css(title='Cascading Style Sheets')
			| CSS 3
			+level(10)
		li
			| HTTP 2
			+level(10)
		li(title='Search Engine Optimization')
			| SEO
			+level(10)
		li
			| Push Notifications
			+level(8)
		li
			| Service Workers
			+level(7)
		li(title='JSON-LD, RDFa and Microdata')
			| Structured Data
			+level(6)
		li(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') ColdFusion
			+level(6)