.resume-tagline
	text-align center
	font-style italic
	font-size 1.1em
	opacity 0.7

	&:before
		content "“"

	&:after
		content "”"

.profile-image
	filter saturate(0%)
	width 120px
	height 120px
	border-radius 100%