section
	header
		h3 Resume
	
	p.resume-tagline My job is to translate dreams into reality.
	
	ul
		li
			a.ajax(href='/about') About me
		li
			a.ajax(href='/education') Education
		li
			a.ajax(href='/employment') Employment
		li
			a.ajax(href='/skills') Skills