section
	header
		h3 Hardware
	ul
		li
			a(href='https://www.google.com/nexus/5x/', target='_blank') Nexus 5
			.device-type Smartphone
		li
			a(href='http://www.corsair.com/en/vengeance-k95-fully-mechanical-gaming-keyboard', target='_blank') Corsair Vengeance K95
			.device-type Keyboard
		li
			a(href='http://gaming.logitech.com/en-us/product/g502-proteus-spectrum-rgb-gaming-mouse', target='_blank') Logitech G502
			.device-type Mouse
		li
			a(href='http://gaming.benq.com/gaming-monitor/xl2411z', target='_blank') BenQ XL2411Z
			.device-type Monitor
		li
			a(href='https://steelseries.com/gaming-headsets/siberia-200', target='_blank') SteelSeries Siberia v2
			.device-type Headset
		li
			a(href='http://en-us.sennheiser.com/audio-headphones-high-end-surround-sound-hd-598', target='_blank') Sennheiser HD 598 SE
			.device-type Headphones
		li
			a(href='http://ark.intel.com/products/80806/', target='_blank') Intel Core i7 4790
			.device-type CPU
		li
			a(href='http://www.geforce.com/hardware/10series/geforce-gtx-1070', target='_blank') GeForce GTX 1070
			.device-type GPU
