section
	header
		h3 Hardware
	ul
		li
			a(href='http://www.corsair.com/en/vengeance-k95-fully-mechanical-gaming-keyboard', target='_blank') Corsair Vengeance K95
			.device-type Keyboard
		li
			a(href='http://gaming.logitech.com/en-us/product/g502-proteus-core-tunable-gaming-mouse', target='_blank') Logitech G502
			.device-type Mouse
		li
			a(href='http://gaming.benq.com/gaming-monitor/xl2411z', target='_blank') BenQ XL2411Z
			.device-type Monitor
		li
			a(href='https://steelseries.com/gaming-headsets/siberia-v2', target='_blank') SteelSeries Siberia v2
			.device-type Headset
		li
			a(href='https://www.koss.com/headphones/over-ear-headphones/prodj100', target='_blank') Koss ProDJ 100
			.device-type Headphones
		li
			a(href='http://ark.intel.com/products/80806/', target='_blank') Intel Core i7 4790
			.device-type CPU
		li
			a(href='http://www.geforce.com/hardware/desktop-gpus/geforce-gtx-970', target='_blank') GeForce GTX 970
			.device-type GPU
		li
			a(href='https://store.google.com/product/nexus_5_black_16gb', target='_blank') Nexus 5
			.device-type Smartphone