section
	header
		h3 Zen
	
	ul
		li Everything is my own fault.
		li I assume I'm below average.
		li It is never too late to start from zero.
		li I avoid distractions when doing something creative.
		li I take the first step with a little bit more courage.
		li I focus on a single goal this year.
		li I never refuse by saying "no time".
		li I am never just "right" or "wrong".