section
	header
		h3 Zen
	
	ul
		li Everything is my fault.
		li I assume I'm below average.
		li I will focus on a single goal this year.
		li I will avoid distractions when doing something creative.
		li I will never refuse by saying "no time".
		li I am never "right" or "wrong".