.profile
	position fixed
	left 50%
	bottom 0%
	transform translateX(-50%)
	font-size 1.9em
	padding 1em 0
	text-align center
	letter-spacing 3px
	opacity 0
	/*background linear-gradient(to top, rgba(8, 8, 8, 1) 0%, rgba(8, 8, 8, 0.75) 100%)
	border-top-left-radius 100%
	border-top-right-radius 100%*/
	//transition all 500ms ease

.name
	display block
	font-weight bold
	text-shadow 1px 1px 3px rgba(0, 0, 0, 1)

.job-title
	display block
	margin-top 1em
	font-size 0.5em
	opacity 0.8
	text-shadow 1px 1px 3px rgba(0, 0, 0, 1)

/*
.navigation-info
	position fixed
	bottom 10px
	left 0
	font-size 0.6em

	div
		padding 0.3em
		display inline-block
		letter-spacing 1px

.navigation-info-text
	opacity 0.35

.keys
	opacity 0.9

@media only screen and (max-height: 760px)
	.navigation-info
		display none
*/