header
	h2 About myself

section
	p Hi,
	p I'm abc.

//-
	.vcard.profile(itemscope, itemtype="http://schema.org/Person")
		span.fn.name(itemprop="name") Eduard Urbach
		span.category.job-title(itemprop="jobTitle") Coding & Design