section
	header
		h3 About me
	
	p Hi,
	p.
		My name is Eduard Urbach and I'm a 24-year old, enthusiastic developer working on
		many different areas in the IT industry, mainly:
	
	ul
		
		li Web
		li Games
		li Development tools
		li Standard software
			
	p.
		I love improving the workflow of programmers and non-programmers in a company,
		hence I enjoy inventing tools that boost one's daily productivity.
		I might also be a little addicted to performance improvements :-)
	
	p.
		I have experiences leading fully remotely working teams spread all over the globe but I would
		not describe myself as a great leader because I have yet to learn a lot
		about leadership. Nonetheless it's something I enjoy and therefore would like to focus on in the near future.
	
	p.
		Initially I was born in Russia but grew up in Germany.
		Currently I live in Kyoto and study the Japanese language because I
		can identify myself well with the way of thinking and the emphasis on interhuman respect in the Japanese society.
	
	p
		| Here's a small 
		a.ajax(href="/zen") set of rules
		|  that I try to follow.
	
	p
		| Feel free to check out my 
		a.ajax(href="/now") now
		|  page for more recent information.
		
	p エド