header
    h2 Blog

article
    header
        h3 A better internet

    p.
        I want to talk about a topic that I'm very concerned about: The internet community.
        To be precise one would have to talk about multiple communities but for the sake
        of simplicity I will refer to them as a single community in this article.
        
    h4 About myself
        
    p.
        I grew up with the internet since I was 11 years old and started programming.
        At that time (2003) I found technical articles and forums on the internet
        which helped me become a junior programmer.
        I began to learn game development with some old game engines which would
        nowadays be considered very outdated.
        By the time I hit 16 I started doing freelance work, mainly website related tasks.
        At the age of 18 I began writing my own programming language,
        first called "bp" and later renamed to Flua. It was and still is based on two main concepts,
        namely DRY (Don't Repeat Yourself) and the data flow programming style
        making heavy use of the observer pattern. Basically you could register a value change listener
        for literally any variable you see, even variables from a different library.
        Since then I have been honing my skills as a developer because my aim was always to be at the top
        of the world's best programmers. Simply being "good" is never enough for me, I want things to be perfect.
        If you consider 1-2 seconds of loading time good enough, well I don't. I will always aim to make things better.
        Being average doesn't make me happy.
        To get to this level, you need to stop caring about ego and pride: Always blame yourself.
        If some bug occurs, it's because I made a mistake, nobody else. If a user is not happy with my app, it's my fault.
        If some unforeseen event happened it's because I didn't have a Plan B.
        
        If you're someone who likes to blame others I can give you one word of advice:
        Stop. Blame yourself. It will not only teach you some discipline but also make you a better person in general.
        
    h4 Misunderstandings
        
    p.
        Misunderstandings are something I want to put a heavy emphasis on because they are the
        strong
            source of all evil in the internet community.
        
    h5 Communication methods
    
    p.
        Before I dive into misunderstandings let us first get one level lower,
        to the very core of the problem: Communication.
        
    h6 Telepathy
    
    p.
        This is without question the best communication method.
        If you could directly transfer your thoughts to another person
        we would experience almost no misunderstandings.
        Sadly this communication isn't possible (yet) so let's skip it.
        
    h6 Real life: Video + Audio + "Presence"
    
    p.
        This communication method is a very, very good one. Let me repeat: It's currently the best method if
        you want to clear misunderstandings or not make them happen in the first place.
        
    h6 Video + Audio
    
    h6 Audio
    
    h6 Text