section.project
	header
		h3.title
			a.ajax(href='/projects/aero') Aero
		.tags Web Framework
	
	p
		| Aero is the fastest web framework on the node platform.
	
	ul
		li Performance-focused web server
		li Highly optimized page loading time
		li Instantly see changes while developing
		li ES 2015 support for client scripts
		li HTML 5 validator runs after every change
		li Follows DRY like it's the bible
		li Update your live server on every git commit
		li All the good stuff: HTTP/2, IPv6, Web Manifest
	
	p
		| This website uses Aero and has a PageSpeed score of 
		a(href='https://developers.google.com/speed/pagespeed/insights/?url=blitzprog.org', target='_blank') 100 / 100
		| .
	
	ul.links
		li
			a(href='https://github.com/aerojs/aero', target='_blank') GitHub
			#aero-stars.stars
		li
			a(href='https://www.npmjs.com/package/aero', target='_blank') NPM
