article.project
	h2 Aero
	.tags Web Framework
	
	p
		| Aero is a system which allows you to develop websites very quickly.
		| The main design goal is performance, hence it's easily possible to get 
		a(href='https://developers.google.com/speed/pagespeed/insights/?url=blitzprog.org', target='_blank') perfect scores
		|  in PageSpeed. Its router is also 50% faster than the popular Express framework.
	
	p
		| This website runs on Aero.
	
	ul.links
		li
			a(href='https://github.com/aerojs/aero', target='_blank') GitHub
			#aero-stars.stars
		li
			a(href='https://www.npmjs.com/package/aero', target='_blank') NPM
