header
	h2(style="display: block;") References

section
	header
		h3 Lyphia
	
	p 2D-RPG, my oldest project. I'm kind of surprised I still have the code on GitHub.
	
section
	header
		h3 Flua
	
	p.
		I wrote my own programming language with some very interesting new features not available in other languages. However I never finished it. Eventually I would like to pick it up again.

section
	header
		h3 Battle of Mages
	
	p.
		3D MORPG made with Unity 4 (and an on-going remake in Unity 5).

section
	header
		h3 Anime Release Notifier
	
	p.
		A chrome extension, firefox extension, Android app and web app that allowed one to be notified when a new episode of an anime series was released.

section
	header
		h3 Aero
	
	p The fastest web framework on the node.js platform. See 
		a.ajax(href="/projects/aero") Aero
		| .