include ../mixins.jade

section
	header
		h3.skills-category Languages
	ul.skills-list.no-list-image
		li.gb(itemscope='', itemtype='http://schema.org/Language')
			span(itemprop='name') English
			+level(10)
		li.de(itemscope='', itemtype='http://schema.org/Language', title='Deutsch')
			span(itemprop='name') German
			+level(10)
		li.ru(itemscope='', itemtype='http://schema.org/Language', title='Русский')
			span(itemprop='name') Russian
			+level(10)
		li.jp(itemscope='', itemtype='http://schema.org/Language', title='日本語')
			span(itemprop='name') Japanese
			+level(8)
		li.fr(itemscope='', itemtype='http://schema.org/Language', title='Français')
			span(itemprop='name') French
			+level(4)