article.project
	h2 Battle of Mages
	.tags MMORPG
	
	img.no-shadow(src='/images/projects/bom-kyuma.png', alt='Kyuma')
	
	p Battle of Mages is an MMORPG with a strong focus on Player vs Player combat.
		
	img.no-shadow(src='/images/projects/bom-classes.png', alt='Classes')
	
	p Currently not in development. However, I plan to restart the project in the future.
	
	p The beautiful artwork on this page was made by 
		a(href='https://twitter.com/nine_plantroom9', target='_blank') ニネ
		| .
	
	ul.links
		//- li
		//- 	a(href='https://battleofmages.com/', target='_blank') Website
		li
			a(href='https://soundcloud.com/eduard-urbach/sets/battle-of-mages', target='_blank') SoundCloud
		li
			a(href='https://github.com/battleofmages/battleofmages', target='_blank') GitHub
			#aero-stars.stars