include ../mixins.jade

section
	h3.skills-category
		a.ajax(href='/skills/databases') Databases
	
	ul.skills-list
		li.aerospike
			| Aerospike
			+level(10)
		li.riak
			| Riak
			+level(10)
		li.sql
			| SQL
			+level(7)
		li.mongodb
			| MongoDB
			+level(3)