include ../mixins.jade

section
	header
		h3.skills-category
			a.ajax(href='/skills/databases') Databases
	ul.skills-list
		li.aerospike
			| Aerospike
			+level(10)
		li.riak
			| Riak
			+level(10)
		li.sql
			| SQL
			+level(10)