header
	h2 Shortcuts

section
	header
		h3 Shortcuts
	
	p This is just a personal memopad for useful keyboard shortcuts.
	
	ul
		li
			a.ajax(href='/shortcuts/atom') Atom
		li
			a.ajax(href='/shortcuts/gnome') GNOME
		li
			a.ajax(href='/shortcuts/vim') Vim