include ../mixins.jade

section
	h3.skills-category
		a.ajax(href='/skills/3d') 3D

	ul.skills-list
		li.blender
			| Blender
			+level(5)
		li.maya
			| Maya
			+level(3)
		li.three-ds-max
			| 3DS Max
			+level(0)