include ../mixins.jade

section
	h3.skills-category
		a.ajax(href='/skills/video') Video

	ul.skills-list
		li.adobe-premiere
			| Adobe Premiere
			+level(3)
		li.after-effects
			| Adobe After Effects
			+level(3)
		li.sony-vegas
			| Sony Vegas
			+level(3)