@require "styles/config.styl"

html
	font-family "Julius Sans One"
	font-size baseFontSize
	height 100%

body
	tab-size 4
	text-rendering optimizeLegibility
	height 100%
	color mainColor
	overflow-x hidden
	overflow-y hidden

a
	text-decoration none
	text-shadow none
	color subColor
	transition all transitionSpeed ease

header
	a:hover
		text-shadow inherit

li
	margin-top 1px
	margin-bottom 1px

#content
	img
		border none
		box-shadow 0 0 8px rgba(0, 0, 0, 1)
		transition all transitionSpeed ease-in-out

		&:hover
			box-shadow 0 0 14px rgba(0, 0, 0, 1)

h1, h2, h3, h4
	font-family "Julius Sans One"

p, ul, ol, h4, blockquote, table
	line-height 1.7em
	float left
	width 100%

p, ul, ol, pre, h3, blockquote
	text-align left
	margin-top 0.4em
	margin-bottom 0.4em
	float left

h2
	font-size 2.3rem
	line-height 2.3rem
	font-weight bold
	width 100%
	letter-spacing 2px
	margin-bottom 2rem

h3
	font-size 2em
	line-height 1.5em
	font-weight bold
	width 100%
	letter-spacing 1px
	text-align center

h4
	line-height 1.5em
	font-size 1.5em
	font-weight bold
	text-align left

small
	font-size 70%

table
	float left

tr
	border-bottom-width 1px
	border-bottom-style solid
	border-bottom-color rgba(255, 255, 255, 0.05)

	&:last-child
		border none

td
	padding 0.5em
	text-align left
	vertical-align top

iframe
	padding 0.5em
	float left
	display block
	margin 0 auto

pre
	border 1px solid rgb(128, 128, 128)
	padding 1em
	width calc(100% - 2em)
	box-shadow 1px 1px 16px rgba(0, 0, 0, 0.6)
	color rgb(224, 224, 224)
	background-color rgb(32, 32, 32)
	border none
	border-radius 3px

pre, code
	font-family 'Ubuntu Mono', Consolas, monospace
	tab-size 4

ul
	list-style-type square

ol
	list-style-type decimal

ul, ol
	list-style-position outside
	padding 0
	margin-left 1.7em
	width calc(100% - 1.7em)

strong
	font-weight bold

em
	font-style italic

th
	font-size 120%
	padding 5px 0
	text-align left

hr
	clear both
	height 4px
	border-bottom 1px dotted #ccc
	border-left none
	border-right none
	border-top none

span.glyphicon
	margin-right 0.4em

.dim
	opacity 0.4

::selection
	text-shadow none
	background alpha(mainColor, 10%)