baseFontSize = 1rem
transitionSpeed = 500ms
mainColor = rgb(192, 192, 192)
subColor = rgb(255, 128, 0)
bgImage = "/images/backgrounds/keyboard.jpg"
bgColor = rgb(32, 32, 32)
navColor = rgb(8, 8, 8)
navLinkColor = rgb(161, 212, 230)
navLinkHoverColor = subColor
navigationHeight = 3.25rem
textShadow = 1px 1px 3px rgba(8, 8, 8, 0.9)