baseFontSize = 20px
maxSectionSize = 728px
transitionSpeed = 350ms
bgColor = rgb(42, 42, 42)
headerColor = rgb(248, 248, 248)
mainColor = rgb(160, 160, 160)
subColor = rgb(177, 255, 32)
linkColor = rgb(224, 224, 224)
navBGColor = rgb(32, 32, 32)
navLinkColor = rgb(128, 128, 128)
navLinkHoverColor = subColor
loadingColor = subColor
navigationHeight = 3.25rem
textShadow = 1px 1px 3px rgba(8, 8, 8, 0.2)