titleFont = "Julius Sans One"
textFont = "Lato"
monospaceFont = "Ubuntu Mono, Consolas, monospace"
baseFontSize = 20px
lineHeight = 1.7em
maxSectionSize = 728px
transitionSpeed = 350ms
noiseImage = url("/images/backgrounds/noise-light.png")
bgColor = rgb(42, 42, 42)
bgImage = noiseImage
headerColor = rgb(248, 248, 248)
mainColor = rgb(160, 160, 160)
subColor = rgb(177, 255, 32)
linkColor = rgb(224, 224, 224)
navBGColor = rgb(38, 38, 38)
navBGImage = noiseImage
navLinkColor = rgb(128, 128, 128)
navLinkHoverColor = subColor
loadingColor = subColor
navigationHeight = 3.25rem
textShadow = 1px 1px 3px rgba(8, 8, 8, 0.2)