contentBorder = 1px solid rgba(0, 0, 0, 0.2)

#content
	flex-grow 1
	width 100%
	margin 0 auto
	display flex
	flex-flow row wrap
	// background-color rgb(238, 238, 238)
	// border-left contentBorder
	// border-right contentBorder

	img
		margin 0.5em auto
		max-width 100%
		height auto
		border none
		box-shadow 0 0 8px rgba(0, 0, 0, 0.5)
		transition box-shadow transitionSpeed ease

		&:hover
			box-shadow 0 0 14px rgba(0, 0, 0, 1)
	& > div
		float left
		width 100%
		text-align center

.text
	color mainColor
	text-shadow textShadow

	&:hover
		color mainColor
		text-shadow textShadow

#content > section,
#content > article
	font-family "Lato"
	text-shadow textShadow
	width 100%
	max-width maxSectionSize
	margin 0.5em auto
	padding 1.5em
	line-height 1.7em
	overflow hidden
	text-align center