@require "styles/config.styl"

#content
	display block
	width 100%
	max-width 728px
	background-color transparent
	margin 3rem auto

	img
		margin 0.5em auto
		max-width 100%
		height auto
	& > div
		float left
		width 100%
		text-align center

.text
	color mainColor
	text-shadow textShadow

	&:hover
		color mainColor
		text-shadow textShadow

#content > section,
#content > article
	font-family "Lato"
	text-shadow textShadow
	box-sizing border-box
	float left
	width 100%
	display block
	margin 0.5em auto
	padding 1.5em
	line-height 1.7em
	overflow hidden
	text-align center
	box-shadow 0 0 8px rgba(0, 0, 0, 0.5)
	background linear-gradient(to top, darken(bgColor, 25%) 0%, bgColor 100%)
	border 1px dotted alpha(mainColor, 15%)
	border-radius 5px
	transform translateZ(0)