duration = 1.3s
size = 16px

#loading-animation
	display none
	position fixed
	bottom 16px
	right 32px

.sk-cube-grid
	width size
	height size
	.sk-cube
		width 33%
		height 33%
		background-color white
		box-shadow 0 0 8px white
		float left
		animation sk-cubeGridScaleDelay duration infinite ease-in-out
	.sk-cube1
		animation-delay 0.2s
	.sk-cube2
		animation-delay 0.3s
	.sk-cube3
		animation-delay 0.4s
	.sk-cube4
		animation-delay 0.1s
	.sk-cube5
		animation-delay 0.2s
	.sk-cube6
		animation-delay 0.3s
	.sk-cube7
		animation-delay 0s
	.sk-cube8
		animation-delay 0.1s
	.sk-cube9
		animation-delay 0.2s

@keyframes sk-cubeGridScaleDelay
	0%, 70%, 100%
		transform scale3D(1, 1, 1)
	35%
		transform scale3D(0, 0, 1)