.skills-list
	meter
		float right
		border 1px solid rgb(160, 160, 160)
		border-radius 3px
		margin-top 4px
		width 49%

meter
	-webkit-appearance none
	&::-webkit-meter-bar
		background transparent
		border 1px solid rgba(255, 255, 255, 0.2)
	&::-webkit-meter-optimum-value
		background linear-gradient(to bottom, rgb(161, 212, 230) 0%, rgb(107, 180, 209) 100%)