@media only screen and (max-width: 550px)
	.navigation-item
		padding 1em

@media only screen and (max-width: 1000px)
	.navigation-item-icon
		margin-right 0 !important

	.navigation-item-title
		display none