@media only screen and (max-width: 1600px)
	#content
		width calc(60% - 1em)

@media only screen and (max-width: 1300px)
	#content
		width calc(75% - 1em)

@media only screen and (max-width: 800px)
	#header
		width calc(100% - 1em)

	#title, #tagline
		display none

	#content
		margin 0.5em auto

	#content, #footer
		width calc(100% - 1em)

	.navigation-item
		margin-left 0

	.navigation-item-icon
		margin-right 0 !important

	.navigation-item-title
		display none

// @media only screen and (max-width: 800px)
// 	#header
// 		width 100%
//
// 	#navigation
// 		margin-top 1em
// 		padding-bottom 0
//
// 	.navigation-item
// 		font-size 1.25em
// 		padding-right 0.4em
// 		padding-left 0.4em
// 		letter-spacing 0px