@media only screen and (max-width: 800px)
	#header
		width calc(100% - 1em)

	#title, #tagline
		display none

	#content
		margin 0.5em auto

	#content, #footer
		width calc(100% - 1em)

	.navigation-item
		margin-left 0

	.navigation-item-icon
		margin-right 0 !important

	.navigation-item-title
		display none