@require "styles/config.styl"

#navigation-container
	float left
	width 100%
	height navigationHeight
	text-align center
	background linear-gradient(to top, navColor 0%, lighten(navColor, 1%) 100%)
	border-top 1px solid rgba(255, 255, 255, 0.02)
	overflow hidden

#navigation
	padding-top 0.8rem
	overflow hidden

	.active
		color navLinkHoverColor
		opacity 1
		text-shadow 0 0 8px alpha(navLinkHoverColor, 75%)

.navigation-item-title
	display inline-block

.navigation-item
	color navLinkColor
	font-size 1rem
	line-height 1.7rem
	letter-spacing 1px
	padding 0 1rem
	opacity 0
	backface-visibility hidden
	transform rotateY(-90deg) translateX(0)
	transition all 1000ms ease
	will-change transform, opacity

	&:hover
		color navLinkHoverColor

.navigation-item-ready
	opacity 1
	transform rotateY(0) translateX(0)