#header
	width 100%
	margin 0
	box-shadow none
	border-radius 0
	background transparent

#footer
	width calc(100% - 3em)
	margin 0
	box-shadow none
	border-radius 0
	display none

#title
	text-transform uppercase
	letter-spacing 5px

#title, #tagline
	display none

.logo
	display none

h2
	display none

#content > section,
#content > article
	font-family "Lato"
	float left
	width calc(100% - 3em)
	display block
	margin 0.5em auto
	padding 1.5em
	line-height 1.7em
	overflow hidden
	text-align center
	border-radius 5px
	box-shadow 0 0 8px rgba(0, 0, 0, 0.5)
	background rgba(0, 0, 0, 0.1)
	transition all 270ms ease

section
	header
		h3
			margin-top 0