@media print
	#container
		background-color white
		box-sizing border-box
		width 100%
		height auto
		padding 15px
		font-size 14px
		line-height 18px
		overflow-y visible

	#content
		color black

		section
			border 1px solid black

	nav
		display none