.project
	// position relative

.project-image
	width 100%
	border-radius 3px

.project-link
	opacity 1
	transform rotateZ(0)

	&:hover
		opacity 1.0
		transform rotateZ(-1deg) scale(1.01)

	&:after
		width 0 !important

.tags
	float right
	opacity 0.15
	position absolute
	right 0
	bottom 0
	margin 1.5em
	transition all 500ms ease

.tags:hover
	opacity 1
	color rgb(112, 174, 255)
	letter-spacing 2px

.links
	list-style-type none
	margin 0

.links li
	display inline-block

.links li:after
	content "|"
	margin 0 0.25em
	color alpha(mainColor, 50%)

.links li:last-child:after
	content ""

.stars
	display inline-block
	opacity 0
	transform rotateY(-90deg)
	transition all 1s ease

.visible-text
	transform none
	display inline-block
	opacity 1

	&:before
		content '★'
		margin-left 0.3em

	&:after
		content ''

@media only screen and (max-width: 640px)
	.tags
		display none