@require "styles/config.styl"

sliding-underline(selector, thickness, distance)
	{selector}
		display inline-block
		position relative
		
	{selector}:after
		content ""
		display block
		margin auto
		margin-top distance
		height thickness
		width 0px
		background transparent
		transition all transitionSpeed ease
		
	{selector}:hover:after
		width 100%
		background-color rgba(161, 212, 230, 1)

// Thickness
thickness = 1px

// Build the classes
sliding-underline(".sliding-middle-out", thickness, 5px)
sliding-underline("#content a", thickness, 0)