@require "styles/config.styl"

sliding-underline(selector, slideColor, thickness, distance)
	{selector}
		display inline-block
		position relative

	{selector}:after
		content ""
		display block
		margin auto
		margin-top distance
		height thickness
		width 0px
		background transparent
		transition all transitionSpeed ease

	{selector}:hover:after
		width 100%
		background-color slideColor

// Thickness
thickness = 1px

// Build the classes
sliding-underline(".navigation-item", navLinkHoverColor, thickness, 5px)
sliding-underline("#content a", subColor, thickness, 0)