blockquote
	font-size 1.1rem

	//&:first-letter
	//	margin-left 0.8rem

	&:before
		content "“"

	&:after
		content "”"

.quote-title
	display none
	
.quote-author
	float right
	opacity 0.5
	font-size 0.9rem
	font-style italic
	text-align right
	margin-top 1rem

#content > section
	margin-bottom 2em