header
	h2 Quotes

section
	blockquote Ideas are just a multiplier of execution.
		footer Derek Sivers
	
section
	blockquote
		| If you know the enemy and know yourself, you need not fear the result of a hundred battles.
		| If you know yourself but not the enemy, for every victory gained you will also suffer a defeat.
		| If you know neither the enemy nor yourself, you will succumb in every battle.
		footer Sun Tzu, The Art of War
		
section
	blockquote
		| There is so much here I will never understand. 
		| I've never been a church going man, and what I've seen on the field of battle has led me to question God's purpose. 
		| But there is indeed something spiritual in this place. 
		| And though it may forever be obscure to me, I cannot but be aware of its power.
		footer Nathan Algren, The Last Samurai